<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.i18n.description[page.lang] | escape }}</p>
        <p class="lang">
        {% if page.collection == "posts" %}
          {% assign page_lang=site.posts | where: "i18n", page.i18n | where_exp: "item", "item.lang != page.lang" | first %}
          {% if page_lang != nil %}
          <a href="{{ page_lang.url }}">
            <img src="/assets/images/{{site.i18n.langSwitch[page.lang].img}}"/>
            {{site.i18n.langSwitch[page.lang].txt}}
          </a>
          {% endif %}
        {% endif %}
        {% if page.collection != "posts" %}
          {% assign page_lang=site.pages | where: "i18n", page.i18n | where_exp: "item", "item.lang != page.lang" | first %}
          {% if page_lang != nil %}
          <a href="{{ page_lang.url }}">
            <img src="/assets/images/{{site.i18n.langSwitch[page.lang].img}}"/>
            {{site.i18n.langSwitch[page.lang].txt}}
          </a>
          {% endif %}
        {% endif %}
        </p>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>

    </div>

  </div>

</footer>
